certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
cryptography==3.0
distro==1.5.0
idna==2.10
matrix-client==0.3.2
numpy==1.19.1
pandas==1.1.0
praw==7.1.0
prawcore==1.4.0
pycparser==2.20
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
update-checker==0.17
urllib3==1.25.10
websocket-client==0.57.0
zulip==0.7.0
